{% extends 'base.html.twig' %}

{% block content %}


    {%if notification%}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {%endif%}
    <div class="block-small">
        <h1 class="h3 mb-3 font-weight-normal"><strong>Créer votre identifiant</strong></h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
        <hr>
    </div>

    <p class="text-center">Déjà inscrit ? <a href="{{path('app_login')}}">Cliquez ici</a> pour vous connecter.</p>

{% endblock %}