{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Sound Studio{% endblock %}

{% block content %}
    <h1 class="h3 mb-3 font-weight-normal text-center"><strong>Besoin d'aide ? <br/>Contactez-nous</strong></h1>
        <div class="block-small">
            {%for message in app.flashes('notice') %}
                <div class="alert alert-info" role="alert">
                    {{message}}
                </div>
            {%endfor%}
            {{form(form)}}
        </div>
{% endblock %}